<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Tabla periodica">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="Gary Campusano">
    <title>Tabla periódica</title>
    <link rel="stylesheet" href="/assets/css/404.css">
</head>
<body>
    <h1>Paguina no encontrada</h1>
    <a href="/">Home</a>
    <footer>
        <p>&copy; 2024 Gary Campusano. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
